# ignore submission
*.tar.gz

# patch files
*.orig
*.rej

# compiler files
*.d
*.o
*.o_d

# compiled files
kernel
kernel.bin
kernel_dump.s
kernel_debug

# clangd
compile_commands.json
compile_flags.txt
.clangd


.vimrc
.nvimrc
